:root{
    --black-color:#222222;
    --orange-color:#FA7436;
    --light-orange:#FD8D3A;
    --dark-grey-color:#444444;
    --grey-color:#666666;
    --light-grey-color:#999999;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family:"Poppins",sans-serif;
}
.wrapper{
    /* max-width: 1134px; */
    max-width:1170px;
    margin: 0 auto;
}
h1{
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 64px;
    line-height:70px;
    margin:0;
}
h2{
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 48px;
    color: var(--black-color);
    margin:0;
    line-height:54px;
}
h3{
    font-size:24px;
    margin:0;
}
h4{
    font-size:18px;
    margin:0;
}
h5{
    font-size:16px;
}
h6{
    font-size:14px;
    margin:0;
}
p{
    font-size:18px;
    color: var(--grey-color);
}
section, footer {
    padding: 100px 0 100px 0;
}

/* header section */
header .hero-section{
    padding:80px 0 40px 0;
}
.orange{
    color: var(--orange-color);
}
header{
    background-color: #FEFCFB;
    width: 100%;
    /* height: 100vh; */
    padding-bottom:100px;
}

/* Nav section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
}
nav .logo{
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 24px;
    position: relative;
}
nav .logo::after{
    content: url(assets/logo.svg);
    position: absolute;
    top: 2px;
    right: -30px;
}
nav .logo a{
    text-decoration: none;
    color: var(--black-color);
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
nav ul li a:hover{
    color: var(--orange-color);
}
nav ul.login{
    gap: 60px;
}
nav ul.login li a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--light-orange);
}
nav ul.login li.signup{
    background: var(--orange-color);
    box-shadow: 0 8px 16px 0px #fce4d8;
    padding: 12px 40px;
    border-radius: 8px;
}
nav ul.login li.signup a{
    color: #FFF;
}

/* hero section */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    gap: 160px;
}
.hero-section .left {
    flex: 1;
    width: 450px;
}
.hero-section .left p{
    text-align: justify;
    line-height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.hero-section .right {
    align-self: flex-end;
    position: relative; 
    z-index:100;
}
.hero-section .right .bg{
    content: url(assets/flight.svg);
    position: absolute;
    top: -50px;
    right: -150px;
    z-index: 1; 
    height: 190px;
}
.hero-section .right .tourist img {
    height: 530px;
    vertical-align: middle;
    z-index:2;
}
.hero-section .tour-award,
.hero-section .tour-review,
.hero-section .tour-explore {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px 20px;
    gap: 10px;
    box-shadow: -8px 8px 40px rgba(0,0,0,0.1);
}
.hero-section .tour-award h5, 
.hero-section .tour-review h5, 
.hero-section .tour-explore h5{
    margin: 0;
    color: var(--dark-grey-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.hero-section .tour-award p,
.hero-section .tour-review p,
.hero-section .tour-explore p{
    margin: 0;
    color: var(--grey-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.hero-section .right .tour-award{
    top: 100px;
    left: -100px;
    z-index:2;
}
.hero-section .right .tour-review{
    bottom: 130px;
    left: -50px;
}
.hero-section .right .tour-explore{
    right: -50px;
    top: 215px;
}
.btn{
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 60px;
}
.btn.white{
    background-color: #FFF;
    border: 1px solid #FA7436;
}
.btn.orange{
    background: var(--orange-color);
}
.btn.white a{
    color: var(--orange-color);
    text-decoration:none;
}
.btn.orange a{
    color: #FFF;
    text-decoration:none;
}
.orange-bg{
    content: url(assets/tourist-bg.svg);
    position:absolute;
    bottom:0px;
    left:-20px;
    z-index:-1;
}
.explore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 9px 36px rgba(0,0,0,0.2);
    margin: 0 150px;
    padding: 30px 20px;
}
.explore .info{
    position: relative;
}
.explore .info .title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--black-color);
}
.explore .info .title::after{
    content: url(assets/Vector\ 4855.svg);
    position: absolute;   
    top: 0;
    right: 35px;
}
.explore .info p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

/* things to do section */ 
.things{
    background:#F7F8FC;
}
h2{
    text-align:center;
}
p.description{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align:center;
    margin: 0 310px; 
    line-height:32px; 
    padding: 20px 0;
}
.content-wrapper{
    display:flex;
    justify-content:space-between;
    padding-top:40px;
    position:relative;
}
.content-wrapper .flight-bg{
    position:absolute;
    top:-150px;
    right:110px;
}
.content-wrapper .content{
    background:#FFF;
    margin-right:30px;
    padding:40px;
    border-radius:8px;
    box-shadow:0px 10px 24px rgba(0,0,0,0.2);
    width:370px;
    height:280px;
    position:relative;
}
.content-wrapper .content:last-child{
    margin-right:0px
}
.content img{
    margin-bottom:30px;
}
.content h3.content-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height:34px;
    color: var(--black-color);
    z-index:2;
    position:relative;
}
.content p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height:26px;
    z-index:2;
    position:relative;
}
.content-wrapper .signup-curve,
.content-wrapper .money-curve,
.content-wrapper .travel-curve{
    position:absolute;
    z-index:1;
    top:0px;
    left:0px;  
}

/* Exclusive Section */
.deals{
    background:#fdfcfa;
}
.card-section{
    display:flex;
    justify-content: space-between;
    gap:30px;
    margin-top: 30px;
    position:relative;
}
.card{
    background:#fdfcfa;
    /* box-shadow:0px 4px 4px rgb(0 0 0.1 / 25%); */
    box-shadow:0px 16px 80px #feefe8;
    border-radius:10px;
    position:relative;
}
.card div{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 20px 10px 20px;
    position:relative;
}
.card div:last-child{
    padding-top:0;
    padding-bottom:30px;
}
.card div.price-details{
    padding:0;
}
.card h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--black-color);
}
.card p{
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size:16px;
}
.card p.rating::before{
    content:url(assets/smallstar.svg);
    position:absolute;
    right:55px;
    top:27px
}
.card p.location{
    margin-left:20px;
}
.card p.location::before{
    content:url(assets/map-location.svg);
    position:absolute;
    left:20px;
    top:8px    
}
.price-details .stroke{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--grey-color);
    text-decoration: line-through;
}
.price-details .price{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--orange-color);
    background:#FFE7DB;
    border-radius:8px;
    padding:8px;
    margin-left:15px;
}
.deals .card:hover{
    box-shadow:0px 16px 80px #feefe8;
    opacity:0.5;
}
/* .card .booknow{
    position:absolute;
    top:0; 
}
.card:hover .booknow{
    position:absolute;
    top:0;
    right:0;
    z-index:1;
} */
.buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:60px 0 0px 0;
    gap:20px;
}

/* Vacation */
.vacation{
    background:#fdfcfa;
}    
.vacation .buttons{
    justify-content: flex-end;
    padding:0px;
}
.vacation p.description{
    padding-bottom:0px;
}
.card-section .tree-bg{
    position:absolute;
    top:-200px;
    right:200px;
}
.card h3 .orange{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.card .navigation{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left:30px;
}
.card .navigation::before{
    content:url(assets/navigation.svg);
    left:15px;
    position:absolute;
}
.vacation .card p.rating::before{
    top:0px;
}

/* testimonial */
.testimonial{
    background:#F7F8FC;
    padding-bottom:140px;
}
.testimonial-content{
    display:flex;
    gap:100px;
    justify-content:space-between;
    align-items:center;
    position:relative;
    z-index:100;
}
.small-flights-bg{
    position:absolute;
    top:-30px;
    right:-50px;
}
.testimonial-content .left{
    width:50%;   
}
.testimonial-content .right{
   width:50%;
   margin-right:10%;
}
.testimonial .left h2{
    text-align:left;
}
.testimonial-content .left p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height:32px;
}
.testimonial-card{
    background:#FFF;
    border-radius:10px;
    padding: 30px;
    width:500px;
    height:245px;
    position:relative;
    z-index:100;
}
.testimonial-card .bg{
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    width:100%;
    /* height:30vh; */
    /* width:500px;*/
    height:245px; 
    position:absolute;
    top:100px;
    left:50px;   
    z-index:-1;
    opacity:0.5;
}
.testimonial-card img{
    position:absolute;
    top:-40px;
    left:-40px;
}
.testimonial-card p{
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:16px;
    line-height:32px;
    color:var(--dark-grey-color);
}
.testimonial-card .author{
    padding:50px 0;
}
.testimonial-card .bg .author{
    position:absolute;
    top:120px;
    left:40px;
}
.author h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color:var(--black-color);
}
.author h6{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color:var(--grey-color);
}
.testimonial .buttons{
    justify-content:flex-start;
}

/* blog */
.blog{
    background:#fdfcfa;
    padding-bottom:250px;
}
.blog .card-section{
    margin-top:60px;
}
.blog .card{
    background:none;
    box-shadow:none;
}
.blog .card h4{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height:26px;
    padding:20px 0;
}
.blog .card p{
    color:var(--light-grey-color);
}
.slider{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:40px;
}

/* Footer subscribe */
.subscribe-section{   
    position:relative;      
}
.subscribe-bg1{
    position:absolute;
    content:url(assets/Element4.svg);
    right:0;
    top:10px;
}
.subscribe-bg2{
    position:absolute;
    content:url(assets/Element5.svg);
    bottom:0; 
    top:-45px;  
    z-index:-1;
}
.subscribe{
    position:absolute;
    margin:0 auto;
    padding:60px 0;
    background:var(--orange-color);
    border-radius:16px;
    width:100%;
    top:-400px;
    left:0;
    z-index:10;
}
.subscribe h2{
    color:#FFF;
    margin:0 auto;
}
footer form {
    width:50%;
    margin:0 auto;
    align:center;
    margin-top: 40px;
    position: relative;
}
footer form input {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    border-radius: 10px;
    padding: 8px 160px 8px 32px;
    border: none;
    width: 100%;
    color: #000000;
}  
footer form .submit {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--orange-color);
    border-radius: 8px;
    padding: 8px 32px;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

/* Footer */
footer{
    background:#F7F8FC;
    padding-bottom:20px;  
    padding-top:250px;
}
.footer-content, .footer-links, .copyright{
    display:flex;
    justify-content:space-between;  
}
.footer-info{
    width:25%;
}
.footer-info .logo{
    width:35%;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 24px;
    position: relative;
}
.footer-info .logo::after{
    content: url(assets/logo.svg);
    position: absolute;
    top: 2px;
    right: -30px;
}
.footer-info .logo a{
    text-decoration: none;
    color: var(--black-color);
}
.footer-info p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size:16px;
    line-height:32px;
}
.social{
    display:flex;
    gap:40px;
}
.social .icon-bg{
    background:#FFF;
    width:40px;
    height:40px;
    border-radius:25px;
    text-align:center;
    justify-content:center;
    align-items:center;
}
.social .insta-bg{
    background:var(--orange-color);
}
.footer-links{
   gap:150px;
}
.links h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--black-color);
}
.links ul{
    list-style-type:none;
    padding:0;
}
.links ul li{
    padding:10px 0 5px 0;
}
.links ul li a{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--grey-color);
    text-decoration:none;
    line-height:26px; 
}
.copyright{
    border-top:2px solid #c3c4c8;
    padding:20px 0;
    margin-top:20px;
}
.copyright p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size:16px;
}
.line{
    color:#ff0000
}

/*Media Queries*/
@media (max-width: 1200px) {
    .wrapper{
        padding:0 50px;
    }
    h1{
        font-size:54px;
    }
    h2{
        font-size:44px;
    }
    h3{
        font-size:22px;
    }
    nav ul{
        gap:30px;
    }
    nav ul.login {
        gap: 40px;
    }
    .hero-section {
        gap:120px;
    }
    .hero-section .left {
        width: 250px;
    }
    .hero-section .right .tourist img {
        height: 480px;
    } 
    .hero-section .right .bg {
        height:140px;
        top:-80px;
        right:-120px;
    }
    .orange-bg {
        width:100%;
    }
    p.description {
        margin: 0 240px;
    }
    .content-wrapper .content{     
        height: 280px;
    }
    .content-wrapper .signup-curve, 
    .content-wrapper .money-curve, 
    .content-wrapper .travel-curve{
        max-width: 100%;
        width: 100%;
        height: auto !important;
    }
    .card img{
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .footer-info .logo{
        width:40%;
    }
}

@media (max-width: 780px) {
    .wrapper{
        padding:0 20px;
    }
    h1{
        font-size:40px;
        line-height:55px;
    }
    h2{
        font-size:36px;
    }
    h3{
        font-size:18px;
    }
    nav ul{
        gap:25px;
    }
    nav ul.login {
        gap: 25px;
    }
    nav ul.login li.signup {
        padding: 12px 15px;
    }
    .orange-bg {
        width:100%;
    }
    header .hero-section {
        padding-top:60px;
        gap:130px;
    }
    .hero-section .left {
        width: 100px;
    }
    .hero-section .left p {
        line-height: 32px;
        font-size: 18px;
    }
    .hero-section .right .tourist img {
        height: 320px;
    } 
    .hero-section .right .bg {
        height:120px;
        top:-80px;
        right:-165px;
    }
    .hero-section .tour-award, 
    .hero-section .tour-review, 
    .hero-section .tour-explore {
        padding: 8px;
        gap: 8px;
    }
    .hero-section .tour-award h5, 
    .hero-section .tour-review h5, 
    .hero-section .tour-explore h5 {
        font-size: 14px;
    }
    .hero-section .right .tour-award {
        top: 70px;
        left: -100px;
    }
    .hero-section .right .tour-review {
        bottom: 80px;
        left: -100px;
    }
    .hero-section .right .tour-explore {
        right: -30px;
        top: 150px;
    }
    .explore {
        margin:0 60px;
    }
    p.description {
        margin: 0 150px;
    }
    .content-wrapper {
        padding-top: 20px;
    }
    .content-wrapper .content {
        padding:25px;
    }
    .content img {
        margin-bottom: 10px;
    }
    .card-section {
        gap: 10px;
        margin-top: 15px;
    }
    .card img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .card div {
        padding: 15px 10px 10px 10px;
    }
    .card p {
        font-size:14px;
    }
    .card p.location {
        margin-left: 15px;
    }
    .card p.location::before {
        left: 10px;
        top: 10px;
    }
    .price-details .price {
        padding: 5px;
        margin-left: 6px;
    }
    .footer-info .logo {
        width: 55%;
    }
    .footer-links{
        gap:80px;
     }
}

@media (max-width: 480px) {
    .wrapper{
        padding-top:20px;
    }
    header .hero-section {
        padding-top: 40px;
    }
    section, footer {
        padding: 80px 0 80px 0;
    }
    nav {
        display: block;
        text-align:center;
    }
    nav .logo::after {
        right: 100px;
    }
    nav ul, nav ul.login{
        padding:0px;
        gap: 0;
        justify-content:space-around;
    }
    .hero-section {
        display: block;
        width: 100%;
        gap: 0;
    }
    .hero-section .left {
        width: 100%;
    }
    .hero-section .right .tourist {
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .hero-section .right .tourist img {
        height: 350px;       
    }
    .hero-section .right .bg {
        top: -50px;
        left: 20px;
    }
    .orange-bg {
        bottom: 40px;
        left: 0px;
    }
    .hero-section .left, .hero-section .right{
        padding-bottom:40px;
    }
    .hero-section .right .tour-award {
        top: 80px;
        left: -20px;
    }
    .hero-section .right .tour-review {
        bottom: 120px;
        left: -20px;
        z-index:2;
    }
    .hero-section .right .tour-explore {
        right: 0px;
        top: 150px;
        z-index:2;
    }
    .hero-section .tour-award h5, .hero-section .tour-review h5, .hero-section .tour-explore h5 {
        font-size: 12px;
    }
    .hero-section .tour-award p, .hero-section .tour-review p, .hero-section .tour-explore p {
        font-size: 10px;
    }
    .explore {
        display: block;
        margin: 0 40px;
    }
    p.description {
        margin: 0 auto;
    }
    .content-wrapper {
        display: block;
        text-align:center;
    }
    .content-wrapper .content {
        margin-right: 0px;
        margin-bottom:20px;
    }
    .card-section {
        display: block;
        margin-top: 10px;
    }
    .card{
        margin-bottom:20px;
    }
    .testimonial-content {
        display: block;
    }
    .testimonial-content .left {
        width: 100%;
        margin-bottom:20px;
    }
    .testimonial-content .right {
        width: 100%;
    }
    .testimonial-card {
        width: 100%;
    }
    footer form {
        width: 80%;
    }
    footer form input {
        padding: 8px 10px 8px 15px;
    }
    footer form .submit {
        padding: 8px 8px;
    }
    .footer-content, .footer-links, .copyright {
        display: block;
        text-align:center;
    }
    .footer-info {
        width: 100%;
        padding-bottom:30px;
    }
    .footer-info .logo {
        width: 100%;
    }
    .footer-info .logo::after {
        right: 100px;
    }
    .social {
        justify-content: center;
    }
    .links{
        margin-bottom:20px;
    }
}